/* App.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: #333;
  margin-top: 20px;
}

h2 {
  color: #444;
  margin-left: 20px;
}

div {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 40px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

li:hover {
  background-color: #f0f0f0;
}

button {
  background-color: #db4dff;
  color: rgb(10, 8, 8);
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  
}

button:hover {
  background-color: #993ae6;
}

a {
  color: #08168f;
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
}

a:hover {
  text-decoration: underline;
}

.add-button {
  display: inline-block;
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  text-align: center;
  width: 100%;
}

.add-button:hover {
  background-color: #1bcf42;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  box-sizing: border-box;
}

input:focus, textarea:focus {
  outline: none;
  border-color: #007bff;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
